.header{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    color:white;
        }
.footer{
    background-color: silver;
}
.container{
    margin:0px;
}
.menu{
    display: flex;
    gap: 10px;
    list-style: none;
}
.menu li a{
    margin:5px;
    color: white;
    text-decoration: none;
}
#home{
    margin:5px;
}
.box{
    text-align: center;
    border:2px solid black;
    color:blue;
    margin: 10px;
    padding: 20px;
}

